<div id="ancgis-apiaryform" class="ancgis-form" tabindex="0">
  <div class="ancgis-form-title">Propriétés du rucher</div>
  <div class="ancgis-form-fields">
    <div class="ancgis-form-field">
      <label for="ancgis-apiaryform-registrationNumberfield">Numéro d'enregistrement : </label>
      <input type="text" id="ancgis-apiaryform-registrationNumberfield">
    </div>
    <div class="ancgis-form-field">
      <label for="ancgis-apiaryform-locationNamefield">Lieu-dit ou emplacement : </label>
      <input type="text" id="ancgis-apiaryform-locationNamefield">
    </div>
    <div class="ancgis-form-field">
      <label for="ancgis-apiaryform-cityfield">Commune : </label>
      <input type="text" id="ancgis-apiaryform-cityfield">
    </div>
    <div class="ancgis-form-field">
      <label for="ancgis-apiaryform-zipCodefield">Code postal : </label>
      <input type="text" id="ancgis-apiaryform-zipCodefield">
    </div>
  </div>
  <div class="ancgis-form-btbar">
    <button id="ancgis-apiaryform-cancelbtn" class="btn btn-default" alt="Annuler les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-apiaryform" title="Annuler les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-193removesign"></span></button>
    <button id="ancgis-apiaryform-validatebtn" class="btn btn-default" alt="Valider les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-apiaryform" title="Valider les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-194oksign"></span></button>
  </div>
</div>
