{{#each species}}
<tr>
    <td>{{taxon.vernacularName}}</td>
    <td>{{taxon.periods}}</td>
    <td>{{recovery}}</td>
    <td class="ancgis-form-removespecies" data-id="{{taxon.id}}" data-toggle="tooltip" data-placement="right" alt="Supprimer l'espèce" title="Supprimer l'espèce.">
      <span class="ancgis-glyphicons-reducted ancgis-glyphicons-208remove"></span>
    </td>
</tr>
{{/each}}
