<div id="ancgis-hiveform" class="ancgis-form" tabindex="0">
  <div class="ancgis-form-title">Propriétés de la ruche</div>
  <div class="ancgis-form-fields">
    <div class="ancgis-form-field">
      <label for="ancgis-hiveform-registrationNumberfield">Numéro d'enregistrement : </label>
      <input type="text" id="ancgis-hiveform-registrationNumberfield" name="kok">
    </div>
    <div class="ancgis-form-field">
      <label for="ancgis-hiveform-typefield">Type de ruche : </label>
      <select id="ancgis-hiveform-typefield">
        <option value="" disabled selected>Sélectionner</option>
        <option value="dadant">Dadant</option>
        <option value="langstroth">Langstroth</option>
        <option value="warre">Warré</option>
        <option value="voirnot">Voirnot</option>
        <option value="kenyane">Kényane</option>
        <option value="tronc">Tronc</option>
        <option value="paille">Paille</option>
        <option value="bastian">Bastian</option>
        <option value="...">...</option>
      </select>
    </div>
    <div class="ancgis-form-field">
      <label for="ancgis-hiveform-framesCountfield">Nombre de cadre : </label>
      <select id="ancgis-hiveform-framesCountfield">
        <option value="" disabled selected>Sélectionner</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="...">...</option>
      </select>
    </div>
  </div>
  <div class="ancgis-form-btbar">
    <button id="ancgis-hiveform-cancelbtn" class="btn btn-default" alt="Annuler les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-hiveform" title="Annuler les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-193removesign"></span></button>
    <button id="ancgis-hiveform-validatebtn" class="btn btn-default" alt="Valider les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-hiveform" title="Valider les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-194oksign"></span></button>
  </div>
</div>
