<div id="ancgis-speciesform" class="ancgis-form" tabindex="0">
  <div class="ancgis-form-title">Ajout d&#39;une espèce</div>
  <div class="ancgis-form-fields">
    <div class="ancgis-form-field">
      <label for="ancgis-speciesform-taxonfield">Espèce : </label>
      <select id="ancgis-speciesform-taxonfield">
        <option value="" disabled selected>Sélectionner</option>
        {{#each taxons}}
          <option value="{{id}}">{{vernacularName}}</option>
        {{/each}}
      </select>
    </div>
    <div class="ancgis-form-field">
      <label for="ancgis-speciesform-recoveryfield">Recouvrement (%) : </label>
      <input id="ancgis-speciesform-recoveryfield" type="number" list="ancgis-speciesform-recoveryfield-list" step="5" min="0" max="100" placeholder="100">
      <datalist id="ancgis-speciesform-recoveryfield-list">
        <option value="25">
        <option value="50">
        <option value="75">
        <option value="100">
      </datalist>
    </div>
  </div>
  <div class="ancgis-form-btbar">
    <button id="ancgis-speciesform-cancelbtn" class="btn btn-default" alt="Annuler les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-speciesform" title="Annuler les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-193removesign"></span></button>
    <button id="ancgis-speciesform-validatebtn" class="btn btn-default" alt="Valider les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-speciesform" title="Valider les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-194oksign"></span></button>
  </div>
</div>
