<div class="content" alt="Nombre de tuiles du cache cartographique mises à jour." data-toggle="tooltip" data-placement="bottom" title="Nombre de tuiles du cache cartographique mises à jour.">
  <span class="label"><b>Mise à jour du cache cartographique :</b> {{count}}/{{total}}</span>
  <progress id="file" name="file" max="{{total}}" value="{{count}}"></progress>
</div>