<!-- Map control tbar -->
<div id="anc-mapcontrol-tbar" class="btn-group">
  <button id="anc-mapcontrol-addhive" class="btn btn-default" alt="Ajouter une ruche" type="button" data-toggle="tooltip" data-placement="bottom" title="Ajouter une ruche. La commande &#171; ctrl + roulette &#187; permet la rotation de la ruche." data-shortid="addhive"><span class="anc-glyphicons anc-glyphicons-kiosk"></span></button>
  <button id="anc-mapcontrol-drawpolygon" class="btn btn-default" alt="Délimiter une zone de végétation" type="button" data-toggle="tooltip" data-placement="bottom" title="Délimiter une zone de végétation. Un &#171; clic droit &#187; sur une zone permet d'éditer ses propriétés." data-shortid="drawpolygon"><span class="anc-glyphicons anc-glyphicons-vectorpathpolygon"></span></button>
  <button id="anc-mapcontrol-drawcircle" class="btn btn-default" alt="Délimiter une zone de végétation" type="button" data-toggle="tooltip" data-placement="bottom" title="Délimiter un arbre solitaire. Un &#171; clic droit &#187; sur un arbre permet d'éditer ses propriétés." data-shortid="drawcircle"><span class="anc-glyphicons anc-glyphicons-vectorpathcircle"></span></button>
  <button id="anc-mapcontrol-translate" class="btn btn-default" alt="Translater un élément cartographique" type="button" data-toggle="tooltip" data-placement="bottom" title="Translater un élément cartographique." data-shortid="translate"><span class="anc-glyphicons anc-glyphicons-187move"></span></button>
  <button id="anc-mapcontrol-modify" class="btn btn-default" alt="Modifier un élément cartographique" type="button" data-toggle="tooltip" data-placement="bottom" title="Modifier un élément cartographique. Un &#171; ctrl + clic &#187; permet de supprimer un sommet." data-shortid="modify"><span class="anc-glyphicons anc-glyphicons-31pencil"></span></button>
  <button id="anc-mapcontrol-erase" class="btn btn-default" alt="Supprimer un élément cartographique" type="button" data-toggle="tooltip" data-placement="bottom" title="Supprimer un élément cartographique. Le maintien de la touche &#171; ctrl &#187; permet une suppression multiple." data-shortid="erase"><span class="anc-glyphicons anc-glyphicons-551erase"></span></button>
</div>
<!-- Map -->
<div id="anc-map" class="map"></div>
<!-- Map status tbar -->
<div id="anc-mapstatus-tbar">
  <div id="anc-mapstatus-projection">EPSG:3857</div>
  <div id="anc-mapstatus-mouseposition"></div>
</div>
