{{#if count}}
  <div class="content" alt="Nombre de modifications à soumettre." data-toggle="tooltip" data-placement="bottom" title="Nombre de modifications à soumettre.">
    <span class="label">{{count}}</span>
    <div class="warning"></div>
  </div>
{{/if}}