<!DOCTYPE html>
<html lang="fr">
  <head>
  	<meta charset="utf-8">
    <meta name="Description" content="SIG Web pour l'analyse des ressources mellifères autour d'un rucher.">
    <meta name="theme-color" content="#317EFB"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AncSIG&trade;</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src='/javascripts/tools.bundle.js'></script>
  </head>
  <body>
  	<div class="container-fluid">
        {{{body}}}
  	</div>
  </body>
</html>
