<div id="ancgis-speciesform" class="ancgis-form" tabindex="0">
  <div class="ancgis-form-title">Ajout d&#39;une espèce</div>
  <div class="ancgis-form-fields">
    <div class="ancgis-form-field">
      <label for="ancgis-speciesform-taxonfield">Espèce : </label>
      <select id="ancgis-speciesform-taxonfield">
        {{> taxons-list.hbs}}
      </select>
      <div id="ancgis-speciesform-taxonfield-menu" class="dropdown">
        <button id="ancgis-speciesform-taxonfield-trigger" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="ancgis-glyphicons ancgis-glyphicons-546optionvertical"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSettingsMenu">
          {{#if isOnline}}
            <button id="ancgis-speciesform-taxonfield-opendescription" class="dropdown-item" alt="Voir la description" type="button">
              <span>
                <span class="ancgis-glyphicons ancgis-glyphicons-154unchecked"></span>
              </span>
              <span class="ancgis-glyphicons ancgis-glyphicons-545eyeopen"></span>
              <span>Voir la description</span>
            </button>
          {{/if}}
          <button id="ancgis-speciesform-taxonfield-pedoclimaticfilter" class="dropdown-item" alt="Filtrer avec les zones pédoclimatiques" type="button">
            <span>
              <span class="ancgis-glyphicons ancgis-glyphicons-154unchecked"></span>
            </span>
            <span class="ancgis-glyphicons ancgis-glyphicons-321filter"></span>
            <span>Filtrer avec les zones pédoclimatiques</span>
          </button>
        </div>
      </div>
      {{#if isOnline}}
        <div id="ancgis-speciesform-taxonfield-frame">
          <div id="ancgis-speciesform-taxonfield-loadingdiv"></div>
          <iframe id="ancgis-speciesform-taxonfield-iframe" title="Aperçu"></iframe>
        </div>
      {{/if}}
    </div>
    <div class="ancgis-form-field">
      <label for="ancgis-speciesform-recoveryfield">Recouvrement (%) : </label>
      <input id="ancgis-speciesform-recoveryfield" type="number" list="ancgis-speciesform-recoveryfield-list" step="5" min="0" max="100" placeholder="100">
      <datalist id="ancgis-speciesform-recoveryfield-list">
        <option value="25">
        <option value="50">
        <option value="75">
        <option value="100">
      </datalist>
    </div>
  </div>
  <div class="ancgis-form-btbar">
    <button id="ancgis-speciesform-cancelbtn" class="btn btn-default" alt="Annuler les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-speciesform" title="Annuler les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-193removesign"></span></button>
    <button id="ancgis-speciesform-validatebtn" class="btn btn-default" alt="Valider les modifications" type="button" data-toggle="tooltip" data-placement="top" data-container="#ancgis-speciesform" title="Valider les modifications."><span class="ancgis-glyphicons-enlarged ancgis-glyphicons-194oksign"></span></button>
  </div>
</div>
