<div class="ancgis-appmessage">
  {{> app-message}}
</div>

<div id="ancgis-requirepwdreset-menu-shadow"></div>
<div id="ancgis-requirepwdreset-menu">
  <h1>Demande de modification de mot de passe</h1>
  <form role='form' action="/requirePwdReset" method="post">
    <div class="form-group">
      <input class="form-control" type='email' name="email" placeholder='Email' {{#if email}}value="{{email}}"{{/if}} autofocus=true>
    </div>
    <div class="form-group text-center" style="margin-top:30px;">
        <a href="/login" class="btn">Retour</a>
        <button type="submit" class="btn btn-primary">Demander</button>
    </div>
  </form>
</div>