/*************************/
/**       Template      **/
/*************************/

html, body, .container-fluid {
  height: calc(100% - 1px);
}
@media screen and (max-width: 640px) {
  html, body, .container-fluid {
    height: 100%;
  }
}
.container-fluid {
  padding: 0 !important;
}

@media screen and (max-width: 640px) {
  .container-fluid {
    background-color: #F3F3F3;
  }
}

#ancgis-map {
  height: calc(100% - 55px);
}

#current-page,
.page-container {
  width:100%;
  height:100%;
}

/*******************************************/
/**        Index / Login / Register       **/
/*******************************************/
#ancgis-login-menu,
#ancgis-register-menu,
#ancgis-requirepwdreset-menu,
#ancgis-resetpwd-menu {
  padding: 20px;
  position:absolute;
  left: 50%;
  top: 50%;
  background-color: #F3F3F3;
  border-radius: 10px;
  border: solid 1px gray;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  a {
    color: rgb(0, 107, 219); // For accessibility color contrast
  }
}

@media screen and (max-width: 640px) {
  #ancgis-login-menu,
  #ancgis-register-menu,
  #ancgis-requirepwdreset-menu,
  #ancgis-resetpwd-menu {
    border-width: 0px;
  }
}

#ancgis-login-menu,
#ancgis-register-menu,
#ancgis-requirepwdreset-menu,
#ancgis-requirepwdreset-menu,
#ancgis-resetpwd-menu {
  h1 {
    font-size: xx-large;
    font-family: serif;
    margin: 20px auto;
    text-align: center;
  }
  form {
    margin: 20px 20px;
  }
}

#ancgis-login-menu,
#ancgis-requirepwdreset-menu {
  width: 350px;
  height: 350px;
  margin-left: -175px;
  margin-top: -175px;
}

#ancgis-register-menu {
  width: 500px;
  height: 450px;
  margin-left: -250px;
  margin-top: -225px;
}

@media screen and (max-width: 640px) {
  #ancgis-register-menu {
    width: 350px;
    height: 600px;
    margin-left: -175px;
    margin-top: -300px;
  }
}

#ancgis-resetpwd-menu {
  width: 500px;
  height: 320px;
  margin-left: -250px;
  margin-top: -160px;
}

#ancgis-login-menu-shadow,
#ancgis-register-menu-shadow,
#ancgis-requirepwdreset-menu-shadow,
#ancgis-resetpwd-menu-shadow {
  position:absolute;
  top: 50%;
  width: 100%;
  height: 250px;
  margin-top: -125px;
  background-color: #F8F8F8;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

@media screen and (max-width: 640px) {
  #ancgis-login-menu-shadow,
  #ancgis-register-menu-shadow,
  #ancgis-requirepwdreset-menu-shadow,
  #ancgis-resetpwd-menu-shadow {
    display: none;
  }
}

/*************************/
/**   Map top toolbar   **/
/*************************/

#ancgis-map-ttbar {
  display: flex;
  flex-direction: row;
  background-color: #e1e1e1;
  border-bottom: solid 1px #999;
  font-size: 10px;
  width: 100%;
  padding: 1px 5px 1px 5px;
}
#ancgis-info-tbar, #ancgis-uploadinfo-tbar {
  margin: auto 0;
  vertical-align: middle;
  .label {
    margin-left: 10px;
  }
}
#ancgis-info-tbar {
  flex: 1;
  font-family: cursive;
  font-size: larger;
  margin-left: 10px;
  .info {
    font-weight: 700;
  }
}
@media screen and (max-width: 640px) {
  #ancgis-info-tbar {
    margin: 0;
    .content {
      display: none;
    }
  }
}
#ancgis-uploadinfo-tbar {
  margin-right: 10px;
  font-family: serif;
  font-size: large;
  .warning {
    background-image: url(../images/warning.png);
    background-repeat: no-repeat;
    background-position: bottom 2.5px right 0px;
    padding-right: 20px;
  }
}
#ancgis-map-ttbar .btn-primary {
    background-color: #EEE;
}
#ancgis-map-ttbar .btn-primary:hover,
#ancgis-map-ttbar .btn-primary.active,
#ancgis-map-ttbar .btn-primary:visited {
  background-color: #BBB !important;
}
#ancgis-mapcontrol-drawcircle,
#ancgis-topright-drawextent,
#ancgis-topright-zoomtofeature {
  border-right-width: 3px;
}
#ancgis-topright-menu {
  display: none;
  .dropdown-toggle::after {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  #ancgis-topright-tbar {
    display: none;
  }
  #ancgis-topright-menu {
    display: block;
  }
}

/*************************/
/**   Map status bar    **/
/*************************/

#ancgis-mapstatus-tbar {
  background-color: #e1e1e1;
  border-top: solid 1px #999;
  font-size: 10px;
  width: 100%;
}
#ancgis-mapstatus-tbar>div {
  display: inline-block;
  padding: 4px 6px 4px 6px;
}
#ancgis-mapstatus-projection {
	border-right: solid 1px #999;
}
#ancgis-mapstatus-mouseposition {
	text-align: center
}
#ancgis-mapstatus-mapcachesync {
  float: right;
  progress {
    vertical-align: middle;
    font-size: 1.3em;
    width: 15em;
  }
  span {
    vertical-align: text-top;
    margin-right: 5px;
  }
  span.count {
    margin-right: 5px;
  }
}
@media screen and (max-width: 640px) {
  #ancgis-mapstatus-mapcachesync {
    progress {
      vertical-align: -2px;
      font-size: 1.2em;
      width: 10em;
    }
    span {
      vertical-align: inherit;
    }
    span.label {
      display: none;
    }
  }
}

/*************************/
/**       Progress      **/
/*************************/

// See https://stackoverflow.com/questions/34838976/styling-issues-with-a-progressbar-chrome
// Enable ::-webkit-progress-value
progress {
  -webkit-appearance: none;
  appearance: none;
}
// static part
progress, progress::-webkit-progress-bar {
  background-color: #fff !important;
}
// moving part
progress, progress::-moz-progress-bar, progress::-webkit-progress-value {
  background-color: #353535 !important;
  color:  #353535 !important;
}
progress[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
                      transparent 33%, rgba(0, 0, 0, .1) 33%,
                      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #BBBBBB, #000000);
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*************************/
/**       AppMessage    **/
/*************************/

.ancgis-appmessage-onmap {
  position: absolute;
  top: 40px;
  margin-left: 5px;
}

.ancgis-appmessage>.alert,
.ancgis-appmessage-onmap>.alert {
  z-index: 1000;
}

/*************************/
/**      Modal Boxs     **/
/*************************/
// TODO: Use the less variables...
.btn-primary {
  background-color: #757575;
  border-color: #555555;
}
.btn-primary:hover, .btn-primary.active, .btn-primary:visited {
  background-color: #555555 !important;
  border-color: #353535 !important;
}

/*************************/
/**      Glyphicons     **/
/*************************/

.ancgis-glyphicons-reducted {
  width: 10px;
  height: 10px;
}
.ancgis-glyphicons {
  width: 15px;
  height: 15px;
}
.ancgis-glyphicons-enlarged {
  width: 20px;
  height: 20px;
}
.ancgis-glyphicons-reducted, .ancgis-glyphicons, .ancgis-glyphicons-enlarged {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.ancgis-glyphicons-kiosk {
  background-image: url("../images/glyphicons/glyphicons-454-kiosk.png");
}
.ancgis-glyphicons-vectorpathpolygon {
  background-image: url("../images/glyphicons/glyphicons-97-vector-path-polygon.png");
}
.ancgis-glyphicons-vectorpathcircle {
  background-image: url("../images/glyphicons/glyphicons-96-vector-path-circle.png");
}
.ancgis-glyphicons-191plussign {
  background-image: url("../images/glyphicons/glyphicons-191-plus-sign.png");
}
.ancgis-glyphicons-193removesign {
  background-image: url("../images/glyphicons/glyphicons-193-remove-sign.png");
}
.ancgis-glyphicons-194oksign {
  background-image: url("../images/glyphicons/glyphicons-194-ok-sign.png");
}
.ancgis-glyphicons-208remove {
  background-image: url("../images/glyphicons/glyphicons-208-remove.png");
}
.ancgis-glyphicons-187move {
  background-image: url("../images/glyphicons/glyphicons-187-move.png");
}
.ancgis-glyphicons-31pencil {
  background-image: url("../images/glyphicons/glyphicons-31-pencil.png");
}
.ancgis-glyphicons-551erase {
  background-image: url("../images/glyphicons/glyphicons-551-erase.png");
}
.ancgis-glyphicons-388logout {
  background-image: url("../images/glyphicons/glyphicons-388-log-out.png");
}
.ancgis-glyphicons-201download {
  background-image: url("../images/glyphicons/glyphicons-201-download.png");
}
.ancgis-glyphicons-202upload {
  background-image: url("../images/glyphicons/glyphicons-202-upload.png");
}
.ancgis-glyphicons-100vectorpathall {
  background-image: url("../images/glyphicons/glyphicons-100-vector-path-all.png");
}
.ancgis-glyphicons-517menuhamburger {
  background-image: url("../images/glyphicons/glyphicons-517-menu-hamburger.png");
}
.ancgis-glyphicons-488fitimagetoframe {
  background-image: url("../images/glyphicons/glyphicons-488-fit-image-to-frame.png");
}

/*************************/
/**   Period switcher   **/
/*************************/

.ol-periodswitcher {
  bottom: .5em;
  width: 506px;
  margin-left: calc(50% - 253px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.ol-periodswitcher:hover {
  background-color: transparent;
}
.ol-periodswitcher-bottom {
  padding:2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ol-periodswitcher-bottom:hover {
  background-color: rgba(255,255,255,.6);
  color: black;
}
.ol-periodswitcher-title:hover {
  cursor: pointer;
}
.ol-periodswitcher-buttonslist {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
}
.ol-periodswitcher-button {
  color: white;
  display: inline;
  padding: 6px 12px;
  text-decoration: none;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
}
.ol-periodswitcher-button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left-width: 1px;
}
.ol-periodswitcher-button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-right-width: 1px;
}
.ol-periodswitcher-button:hover {
  cursor: pointer;
}
.ol-periodswitcher-top {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 7px;
}
.ol-periodswitcher-histogram {
  position: absolute;
  bottom: 0;
  height: 0;
  display: flex;
  padding: 0;
  margin-bottom: 5px;
}
.ol-periodswitcher-histo-column {
  display: flex;
  align-items: flex-end;
  width: 18px;
  margin: 0 2px;
  border-bottom: solid 4px;
  padding-bottom: 3px;
}
.ol-periodswitcher-histo-column:hover, .ol-periodswitcher-histo-column.hover{
  border-color: white;
}
.ol-periodswitcher-nectar-column, .ol-periodswitcher-pollen-column {
  margin: 0 1px;
  width: 7px;
}
.ol-periodswitcher-nectar-column {
  background-color: rgba(255,255,255,0.6);
}
.ol-periodswitcher-pollen-column {
  background-color: rgba(255,215,0,0.6);
}

/*************************/
/**      Openlayer      **/
/*************************/

@media screen and (max-width: 640px) {
  .ol-zoomslider {
    display:none;
  }
  .ol-scale-line {
    top: 8px;
    bottom: auto;
  }
  .ol-periodswitcher-button {
    padding: 3px 5px;
  }
}
.ol-control button, .ol-periodswitcher-button {
  background-color: rgba(50,50,50,.5);
}
.ol-control button:focus, .ol-control button:hover, .ol-periodswitcher-button:hover, .ol-periodswitcher-button.hover {
  background-color: rgba(50,50,50,.7);
}
.ol-attribution.ol-control button {
  margin: 0;
}
.ol-scale-line {
  background: rgba(50,50,50,.3);
}

/*************************/
/**       ZoneForm      **/
/*************************/

.ancgis-form {
  position: fixed;
  background-color: rgba(255,255,255,.9);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  border-radius: 5px;
  color: white;
}
#ancgis-hiveform {
  width: 400px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
}
#ancgis-zoneform {
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
}
#ancgis-speciesform {
  width: 400px;
  height: 170px;
  top: calc(50% - 85px);
  left: calc(50% - 200px);
}
.ancgis-form:focus {
  outline: none;
}
.ancgis-form button {
  padding: 3px 9px;
}
.ancgis-form-title {
  width: 100%;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
}
.ancgis-form-fields {
  padding: 10px 10px;
}
#ancgis-zoneform .ancgis-form-fields {
  background-color: rgba(50,50,50,.3);
}
.ancgis-form-field {
  width: 100%;
  color: rgb(50,50,50);
  margin: 5px 0;
}
.ancgis-form-field>label {
  width: 200px;
  margin: 0;
}
.ancgis-form-field>input, .ancgis-form-field>select {
  width: 170px;
}
.ancgis-form-florefields {
  color: rgb(50,50,50);
  padding: 5px 10px;
}
.ancgis-form-floretable {
  width: 100%;
}
.ancgis-form-floretable thead {
  border-bottom: 1px solid rgb(50,50,50);
}
.ancgis-form-periodcolumn {
  width: 80px;
}
.ancgis-form-recoverycolumn {
  width: 50px;
}
.ancgis-form-actioncolumn {
  width: 20px;
}
.ancgis-form-removespecies {
  text-align: center;
  span {
    display: inline-block;
  }
  span:hover {
    cursor: pointer;
  }
}
.ancgis-form-ttbar, .ancgis-form-btbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
}
.ancgis-form-ttbar {
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  border-width: 1px 0;
}
.ancgis-form-btbar {
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  border-width: 1px 0 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ancgis-form-title, .ancgis-form-ttbar, .ancgis-form-btbar {
  background-color: rgb(100,100,100);
}
