<div class="page-container">
  {{> ../partials/confirm.hbs}}
  <div class="ancgis-appmessage-onmap">
    {{> ../partials/app-message.hbs}}
  </div>
  <!-- Map top tbar -->
  <div id="ancgis-map-ttbar">
    <div id="ancgis-mapcontrol-tbar" class="btn-group">
      <button id="ancgis-mapcontrol-addhive" class="btn btn-primary" alt="Ajouter une ruche" type="button" data-toggle="tooltip" data-placement="bottom" title="Ajouter une ruche. La commande &#171; ctrl + roulette &#187; permet la rotation de la ruche. Un &#171; clic droit &#187; sur une ruche permet d'éditer ses propriétés." data-shortid="addhive"><span class="ancgis-glyphicons ancgis-glyphicons-kiosk"></span></button>
      <button id="ancgis-mapcontrol-drawpolygon" class="btn btn-primary" alt="Délimiter une zone de végétation" type="button" data-toggle="tooltip" data-placement="bottom" title="Délimiter une zone de végétation. Un &#171; clic droit &#187; sur une zone permet d'éditer ses propriétés." data-shortid="drawpolygon"><span class="ancgis-glyphicons ancgis-glyphicons-vectorpathpolygon"></span></button>
      <button id="ancgis-mapcontrol-drawcircle" class="btn btn-primary" alt="Délimiter une zone de végétation" type="button" data-toggle="tooltip" data-placement="bottom" title="Délimiter un arbre solitaire. Un &#171; clic droit &#187; sur un arbre permet d'éditer ses propriétés." data-shortid="drawcircle"><span class="ancgis-glyphicons ancgis-glyphicons-vectorpathcircle"></span></button>
      <button id="ancgis-mapcontrol-drawextent" class="btn btn-primary" type="button" data-shortid="drawextent" style="display:none;"></button>
      <button id="ancgis-mapcontrol-translate" class="btn btn-primary" alt="Translater un élément cartographique" type="button" data-toggle="tooltip" data-placement="bottom" title="Translater un élément cartographique." data-shortid="translate"><span class="ancgis-glyphicons ancgis-glyphicons-187move"></span></button>
      <button id="ancgis-mapcontrol-modify" class="btn btn-primary" alt="Modifier un élément cartographique" type="button" data-toggle="tooltip" data-placement="bottom" title="Modifier un élément cartographique. Un &#171; ctrl + clic &#187; permet de supprimer un sommet." data-shortid="modify"><span class="ancgis-glyphicons ancgis-glyphicons-31pencil"></span></button>
      <button id="ancgis-mapcontrol-erase" class="btn btn-primary" alt="Supprimer un élément cartographique" type="button" data-toggle="tooltip" data-placement="bottom" title="Supprimer un élément cartographique. Le maintien de la touche &#171; ctrl &#187; permet une suppression multiple." data-shortid="erase"><span class="ancgis-glyphicons ancgis-glyphicons-551erase"></span></button>
    </div>
    <div id="ancgis-info-tbar">
      <div class="content">
        <span class="label">Mode: </span><span class="info">{{#if isOnline}}Connecté{{else}}Déconnecté{{/if}}</span>
        <span class="label">Utilisateur: </span><span class="info">{{user.username}}</span>
        <span class="label">Profil: </span><span class="info">{{user.profil}}</span>
      </div>
    </div>
    <div id="ancgis-uploadinfo-tbar"></div>
    <div id="ancgis-topright-tbar" class="btn-group">
      <button id="ancgis-topright-zoomtofeature" class="btn btn-primary" alt="Zoomer sur les éléments cartographiques" type="button" data-toggle="tooltip" data-placement="bottom" title="Zoomer sur les éléments cartographiques."><span class="ancgis-glyphicons ancgis-glyphicons-488fitimagetoframe"></span></button>
      <button id="ancgis-topright-displayhistrogram" class="btn btn-primary" alt="Afficher l'histogramme" type="button" data-toggle="tooltip" data-placement="bottom" title="Afficher l'histogramme des potentiels."><span class="ancgis-glyphicons ancgis-glyphicons-charts"></span></button>
      <!--<button id="ancgis-topright-displayLayerSwitcher" class="btn btn-primary" alt="Afficher l'arbre des couches" type="button" data-toggle="tooltip" data-placement="bottom" title="Afficher l'arbre des couches."><span class="ancgis-glyphicons ancgis-glyphicons-adjust-alt"></span></button>
      <button id="ancgis-topright-displayLegend" class="btn btn-primary" alt="Afficher la légende" type="button" data-toggle="tooltip" data-placement="bottom" title="Afficher la légende de la carte."><span class="ancgis-glyphicons ancgis-glyphicons-list-alt"></span></button>-->
      {{#if isOnline}}
        <button id="ancgis-topright-upload" class="btn btn-primary" alt="Soumission des données" type="button" data-toggle="tooltip" data-placement="bottom" title="Soumission des données."><span class="ancgis-glyphicons ancgis-glyphicons-202upload"></span></button>
        <button id="ancgis-topright-download" class="btn btn-primary" alt="Récupération des données" type="button" data-toggle="tooltip" data-placement="bottom" title="Récupération des données."><span class="ancgis-glyphicons ancgis-glyphicons-201download"></span></button>
        <button id="ancgis-topright-drawextent" class="btn btn-primary" alt="Délimiter une zone de cache cartographique" type="button" data-toggle="tooltip" data-placement="bottom" title="Délimiter une zone de cache cartographique. Cette zone permet de travailler sur le terrain en mode déconnecté."><span class="ancgis-glyphicons ancgis-glyphicons-100vectorpathall"></span></button>
      {{/if}}
      <button id="ancgis-topright-logout" class="btn btn-primary" alt="Se déconnecter" type="button" data-toggle="tooltip" data-placement="bottom" title="Se déconnecter."><span class="ancgis-glyphicons ancgis-glyphicons-388logout"></span></button>
    </div>
    <div id="ancgis-topright-menu" class="dropdown">
      <button id="dropdownMenu2" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="ancgis-glyphicons ancgis-glyphicons-517menuhamburger"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        <button id="ancgis-topright-zoomtofeature2" class="dropdown-item" alt="Zoomer sur les éléments cartographiques" type="button">Zoomer sur les éléments</button>
        <button id="ancgis-topright-displayhistrogram2" class="dropdown-item" alt="Afficher l'histogramme des potentiels" type="button">Afficher l'histogramme</button>
        <!--<button id="ancgis-topright-displayLayerSwitcher2" class="dropdown-item" alt="Afficher l'arbre des couches" type="button">Afficher l'arbre des couches</button>
        <button id="ancgis-topright-displayLegend2" class="dropdown-item" alt="Afficher la légende de la carte" type="button">Afficher la légende</button>-->
        {{#if isOnline}}
          <button id="ancgis-topright-upload2" class="dropdown-item" alt="Soumission des données" type="button">Soumission des données</button>
          <button id="ancgis-topright-download2" class="dropdown-item" alt="Récupération des données" type="button">Récupération des données</button>
          <button id="ancgis-topright-drawextent2" class="dropdown-item" alt="Délimiter une zone de cache cartographique" type="button">Délimiter une zone de cache</button>
        {{/if}}
        <button id="ancgis-topright-logout2" class="dropdown-item" alt="Se déconnecter" type="button">Se déconnecter</button>
      </div>
    </div>
    {{#if isOnline}}
    <div id="ancgis-topright-settings-menu" class="dropdown">
      <button id="dropdownSettingsMenu" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="ancgis-glyphicons ancgis-glyphicons-546optionvertical"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSettingsMenu">
        <button id="ancgis-topright-dbreset" class="dropdown-item" alt="Supprimer le contenu de la base locale" type="button">Supprimer le contenu de la base locale</button>
        <button id="ancgis-topright-mapcachereset" class="dropdown-item" alt="Recharger le cache cartographique" type="button">Recharger le cache cartographique</button>
        <button id="ancgis-topright-appreload" class="dropdown-item" alt="Recharger l'application" type="button">Recharger l'application</button>
      </div>
    </div>
    {{/if}}
  </div>
  <!-- Map -->
  <div id="ancgis-map" class="map"></div>
  <!-- Map status tbar -->
  <div id="ancgis-mapstatus-tbar">
    <div id="ancgis-mapstatus-projection">EPSG:3857</div>
    <div id="ancgis-mapstatus-mouseposition"></div>
    <div id="ancgis-mapstatus-mapcachesync"></div>
  </div>
</div>
