{{#if count}}
  <div class="content" alt="Nombre de modifications à soumettre." data-toggle="tooltip" data-placement="left" title="Nombre de modifications à soumettre.">
    <span class="label warning">{{count}}</span>
  </div>
{{/if}}
